.wrapper{
  width: auto;
  margin: 70px;
  display: block;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.imgs{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 5px;
}

img {
  max-width: 100%;
}
